@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    border: 0;
    border-top: 1px solid tomato;
}

body{
    font-family: 'Catamaran', sans-serif;


}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
button{
    border: 0;
    outline: 0;
    cursor: pointer;
    
}
img{
    display: block; /*이미지는 인란인 타입이라 화면에 꽉맞춰 보이게 함*/
}