@charset 'utf-8';

.nav{
    width: 400px;
    background-color: rgba(10,20,30,.85);
    margin: 100px auto;
}

.nav > ul{
    display: flex;
}

.nav>ul>li{
    padding: 20px;
}

.submenu{
    position: absolute;
    margin-top: 28px;
    background-color: white;
    box-shadow: 0 4pa 10px rgba(10,20,30,0.5);
    width: 120px;
    margin-left: -20px;
    display: none;
}

.nav >ul > li:hover{
    background-color: rgba(10,20,30,0.9);
    cursor: pointer;
   
}

.submenu a{
    color: black;
    
}

.submenu::before{
    content: '';
    display: inline-block;
    border-bottom: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
   
}

.submenu li{
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
}

.nav > ul >li > a:not(:only-child)::after{
    content:'▼';
    margin-left: 10px;
    font-size: 12px;
}